body	{
	color: blue;

	background-color: pink;
	
	font-style: oblique;
	
	font-size: 25px
	
	}

h1, h2	{

	font-weight: bold;

	font-style: oblique;	
	}
p	{
	font-style: oblique;
	}
