body	{
	color: blue;

	background-color: pink;
	
	font-style: oblique;
	
	border-bottom-style: sold;
	border-color: blue
	border-width: 15px
	}

h1, h2	{

	font-weight: bold;

	font-style: oblique;	
	}
p	{
	font-style: oblique;
	}
